header {
    background: #FFF;
    width: 100%;
    box-shadow: 0 0 7px 2px #b3b3b3;
    position: fixed;
    z-index: 2;
}

header a {
    color: #911F21;
}

header nav {
    max-width: 1280px;
    margin: auto;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 15px;
}

nav .site-logo,
nav .site-links {
    width: 50%;
    display: inline-block;
}

nav .site-logo {
    font-size: 2em;
}

nav .site-logo a:hover {
    color:#911F21;
}

nav .site-links {
    text-align: end;
    font-size: 1.2em;
}

nav .site-links a {
    padding: 0 10px
}

main {
    padding-top: 70px;
}

@media screen and (min-width: 769px) {
    nav .site-links a:hover {
        color: #911F21;
        border-bottom: 2px solid #911F21;
    }
}