.shop-container {
    max-width: 1280px;
    width: 100%;
    margin: auto;
}

.shop-content #filter-panel-mobile {
    width: 100%;
    height: 100vh;
    background: #FFF;
    position: fixed;
    z-index: 99;
    top: 0;
    padding: 15px;
    visibility: hidden;
    opacity: 0;
    transition: .3s;
    transform: translateX(-100%);
}

.shop-content #filter-panel-mobile h2 {
    margin: 0;
}

.shop-content #filter-panel-mobile.show {
    visibility: visible;
    opacity: 1;
    transition: .3s;
    transform: translate(0%);
}

.shop-content #filter-panel-mobile .close-filter-panel {
    width: 25px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    background: #c30000;
    font-weight: bold;
    border: none;
    position: relative;
    right: 10%;
    top: -1%;
    float: right;
}

.shop-content #filter-panel-desktop {
    display: none;
}

.category-column {
    margin-bottom: 1em;
    display: flex;
}

.category-column button {
    background-color: #FFF;
    width: 50%;
    height: 42px;
    border-radius: 0;
    border: 1px solid #000;
    border-style: solid;
    border-width: 1px 0.5px 1px 0px;
}

.category-column select {
    background-color: #FFF;
    width: 50%;
    height: 42px;
    border-color: #000;
    border-radius: 0;
    border-style: solid;
    border-width: 1px 0px 1px 0.5px;
    padding: 0.6em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    font-family: inherit;
}

.category-column button:target,
.category-column button:focus,
.category-column select:target,
.category-column select:focus,
.products select:target,
.products select:focus {
    outline: none;
}

.products select {
    display: none;
    margin: 0 0 20px auto;
    background-color: #FFF;
    width: 9em;
    height: 42px;
    border-radius: 0;
    border: 1px solid #000;
    padding: 0.6em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    font-family: inherit;
}

.products .product-list {
    width: 50%;
    display: inline-flex;
    min-height: 330px;
}

.products .product-list .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    height: inherit;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 3px 3px 15px #9b9b9b;
    overflow: hidden;
}

.products .product-list .item .product-image {
    max-width: 8em;
    width: 100%;
    height: 9em;
}

.products .product-list .item .product-name {
    width: 100%;
    font-size: .8em;
    color: #000;
    height: 7.5em;
    overflow: hidden;
    text-overflow: ellipsis;
}

.products .product-list .item .product-rating {
    color: #242424;
    font-weight: 500;
}

.products .product-list .item .product-price {
    font-weight: bold;
    color: #5a5a5a;
}

@media screen and (min-width: 426px) {
    .products .product-list {
        width: 33.33%;
        min-height: 375px;
    }

    .products .product-list .item .product-image {
        height: 10em;
    }
}

@media screen and (min-width: 769px) {
    .shop-container {
        padding-top: 30px;
    }

    .products select {
        display: flex;
    }

    .products .product-list {
        min-height: 400px;
    }

    .products .product-list .item:hover {
        transition: .3s;
        transform: scale(1.05);
    }

    .products .product-list .item .product-image {
        max-width: 12em;
        width: 85%;
        height: 12em;
    }

    .shop-content {
        display: inline-flex;
        width: 100%;
    }

    .shop-content #filter-panel-mobile {
        display: none;
    }

    .shop-content #filter-panel-desktop {
        display: block;
        width: 25%;
        padding-left: 15px;
    }

    .shop-content .category-column {
        display: none;
    }

    .shop-content .products {
        width: 75%;
        padding-right: 15px;
    }

    .category-column select {
        width: 100%;
    }
}

@media screen and (min-width: 1025px) {
    .products .product-list {
        min-height: 460px;
    }
}